@page "/auctions"

<PageTitle>ME2E</PageTitle>

 <!--------------------------------------------- LISTED CURRENT AUCTIONS --------------------------------------------->

        <div class="w-100">
          <div class="container">
            <div class="row px-2 py-5">
              <!--------- aut-auction-list-wrapper --------->

              <div class="col-12">
                <div class="row">
                  <!--- aut-auction-list-header --->
                  <div class="col-12 text-center text-muted">
                    <p class="lead mb-1">Domestic auctions</p>
                    <p class="small">
                      Below you will find current auctions with vehicles from
                      various suppliers.
                    </p>
                  </div>
                  <!--- !! --->

                  <!--- aut-auction-list --->
                  <div
                    class="col-12 rounded bg-white mt-2 currentauctions-list"
                  >
                    <div class="row position-relative">
                      <div class="col-3 col-md-2 px-2 py-3 text-center">
                        <img
                          class="img-fluid"
                          src="https://g.autorola.com/g/da_DK/misc/logo_autorola_24h.gif"
                          alt=""
                        />
                      </div>
                      <div class="col-9 col-md-10 position-static py-3">
                        <div class="row">
                          <div class="col-12 col-md-6 position-static px-2">
                            <h6>
                              <a
                                href="auction_result_list.html"
                                class="stretched-link"
                                >Alphabet - Ex-leasing vehicles</a
                              >
                            </h6>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small">
                              <img
                                src="https://g.autorola.com/g/i/fl/DE.gif"
                                alt=""
                                class="flags"
                              />DE
                            </p>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small text-nowrap">
                              77<i class="fas fa-car-side ms-1"></i>
                            </p>
                          </div>
                          <div class="col-6 col-md-4 position-static ps-4 pe-3">
                            <p class="m-0 small">
                              <i class="fas fa-stopwatch me-1"></i>08/26/20
                              06:00
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 rounded bg-white mt-2 currentauctions-list"
                  >
                    <div class="row position-relative">
                      <div class="col-3 col-md-2 px-2 py-3 text-center">
                        <img
                          class="img-fluid"
                          src="https://g.autorola.com/g/da_DK/misc/logo_autorola_24h.gif"
                          alt=""
                        />
                      </div>
                      <div class="col-9 col-md-10 position-static py-3">
                        <div class="row">
                          <div class="col-12 col-md-6 position-static px-2">
                            <h6>
                              <a
                                href="auction_result_list.html"
                                class="stretched-link"
                                >LeasePlan - Ex-leasing vehicles</a
                              >
                            </h6>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small">
                              <img
                                src="https://g.autorola.com/g/i/fl/DE.gif"
                                alt=""
                                class="flags"
                              />DE
                            </p>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small text-nowrap">
                              38<i class="fas fa-car-side ms-1"></i>
                            </p>
                          </div>
                          <div class="col-6 col-md-4 position-static ps-4 pe-3">
                            <p class="m-0 small">
                              <i class="fas fa-stopwatch me-1"></i>08/26/20
                              06:00
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- !! --->

                  <!--- vertical spacing between domestic and international sections --->
                  <div class="w-100 my-4"></div>
                  <!--- !! --->

                  <!--- aut-auction-list-header --->
                  <div class="col-12 text-center text-muted">
                    <p class="lead mb-1">International auctions</p>
                    <p class="small">
                      Other current auctions running throughout Autorola
                      worldwide.
                    </p>
                  </div>
                  <!--- !! --->

                  <!--- aut-auction-list --->
                  <div
                    class="col-12 rounded bg-white mt-2 currentauctions-list"
                  >
                    <div class="row position-relative">
                      <div class="col-3 col-md-2 px-2 py-3 text-center">
                        <img
                          class="img-fluid"
                          src="https://g.autorola.com/g/da_DK/misc/logo_autorola_24h.gif"
                          alt=""
                        />
                      </div>
                      <div class="col-9 col-md-10 position-static py-3">
                        <div class="row">
                          <div class="col-12 col-md-6 position-static px-2">
                            <h6>
                              <a
                                href="auction_result_list.html"
                                class="stretched-link"
                                >Retomas Grupo Salvador Caetano</a
                              >
                            </h6>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small">
                              <img
                                src="https://g.autorola.com/g/i/fl/PT.gif"
                                alt=""
                                class="flags"
                              />PT
                            </p>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small text-nowrap">
                              87<i class="fas fa-car-side ms-1"></i>
                            </p>
                          </div>
                          <div class="col-6 col-md-4 position-static ps-4 pe-3">
                            <p class="m-0 small">
                              <i class="fas fa-stopwatch me-1"></i>08/26/20
                              06:00
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 rounded bg-white mt-2 currentauctions-list"
                  >
                    <div class="row position-relative">
                      <div class="col-3 col-md-2 px-2 py-3 text-center">
                        <img
                          class="img-fluid"
                          src="https://g.autorola.com/g/da_DK/misc/logo_autorola_24h.gif"
                          alt=""
                        />
                      </div>
                      <div class="col-9 col-md-10 position-static py-3">
                        <div class="row">
                          <div class="col-12 col-md-6 position-static px-2">
                            <h6>
                              <a
                                href="auction_result_list.html"
                                class="stretched-link"
                                >Finlog - Especial Gestão de Frotas</a
                              >
                            </h6>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small">
                              <img
                                src="https://g.autorola.com/g/i/fl/PT.gif"
                                alt=""
                                class="flags"
                              />PT
                            </p>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small text-nowrap">
                              34<i class="fas fa-car-side ms-1"></i>
                            </p>
                          </div>
                          <div class="col-6 col-md-4 position-static ps-4 pe-3">
                            <p class="m-0 small">
                              <i class="fas fa-stopwatch me-1"></i>08/26/20
                              06:00
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 rounded bg-white mt-2 currentauctions-list"
                  >
                    <div class="row position-relative">
                      <div class="col-3 col-md-2 px-2 py-3 text-center">
                        <img
                          class="img-fluid"
                          src="https://g.autorola.com/g/da_DK/misc/logo_autorola_24h.gif"
                          alt=""
                        />
                      </div>
                      <div class="col-9 col-md-10 position-static py-3">
                        <div class="row">
                          <div class="col-12 col-md-6 position-static px-2">
                            <h6>
                              <a
                                href="auction_result_list.html"
                                class="stretched-link"
                                >NL Fleet and Lease Veiling - CLOSED BIDS</a
                              >
                            </h6>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small">
                              <img
                                src="https://g.autorola.com/g/i/fl/NL.gif"
                                alt=""
                                class="flags"
                              />NL
                            </p>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small text-nowrap">
                              39<i class="fas fa-car-side ms-1"></i>
                            </p>
                          </div>
                          <div class="col-6 col-md-4 position-static ps-4 pe-3">
                            <p class="m-0 small">
                              <i class="fas fa-stopwatch me-1"></i>08/26/20
                              06:00
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 rounded bg-white mt-2 currentauctions-list"
                  >
                    <div class="row position-relative">
                      <div class="col-3 col-md-2 px-2 py-3 text-center">
                        <img
                          class="img-fluid"
                          src="https://g.autorola.com/g/da_DK/misc/logo_autorola_24h.gif"
                          alt=""
                        />
                      </div>
                      <div class="col-9 col-md-10 position-static py-3">
                        <div class="row">
                          <div class="col-12 col-md-6 position-static px-2">
                            <h6>
                              <a
                                href="auction_result_list.html"
                                class="stretched-link"
                                >Todo tipo de stock: Renting, Rent a car,
                                empresa, fabricantes y concesionarios</a
                              >
                            </h6>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small">
                              <img
                                src="https://g.autorola.com/g/i/fl/ES.gif"
                                alt=""
                                class="flags"
                              />ES
                            </p>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small text-nowrap">
                              12<i class="fas fa-car-side ms-1"></i>
                            </p>
                          </div>
                          <div class="col-6 col-md-4 position-static ps-4 pe-3">
                            <p class="m-0 small">
                              <i class="fas fa-stopwatch me-1"></i>08/27/20
                              03:30
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 rounded bg-white mt-2 currentauctions-list"
                  >
                    <div class="row position-relative">
                      <div class="col-3 col-md-2 px-2 py-3 text-center">
                        <img
                          class="img-fluid"
                          src="https://g.autorola.com/g/da_DK/misc/logo_autorola_24h.gif"
                          alt=""
                        />
                      </div>
                      <div class="col-9 col-md-10 position-static py-3">
                        <div class="row">
                          <div class="col-12 col-md-6 position-static px-2">
                            <h6>
                              <a
                                href="auction_result_list.html"
                                class="stretched-link"
                                >Enchère - Location Courte Durée – FR -
                                Volkswagen Group</a
                              >
                            </h6>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small">
                              <img
                                src="https://g.autorola.com/g/i/fl/FR.gif"
                                alt=""
                                class="flags"
                              />FR
                            </p>
                          </div>
                          <div class="col-3 col-md-1 position-static px-2">
                            <p class="m-0 small text-nowrap">
                              25<i class="fas fa-car-side ms-1"></i>
                            </p>
                          </div>
                          <div class="col-6 col-md-4 position-static ps-4 pe-3">
                            <p class="m-0 small">
                              <i class="fas fa-stopwatch me-1"></i>08/27/20
                              02:00
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- !! --->
                </div>
              </div>

              <!--------- // --------->
            </div>
          </div>
        </div>

        <!------------------------------------------------ // ------------------------------------------------>

@code {

}
