<!-- Footer -->

<footer class="w-100 py-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center small">
                <p>
                    <img alt="Autorola Group"
                         src="assets/logo_responsive_autorola.png"
                         class="img-fluid mb-2" />
                </p>
                <p class="mb-3">
                    © Copyright 2020 Autorola Group |
                    <a href="#">Datenschutz</a> | <a href="#">Impressum</a>
                </p>
                <p class="text-black-50">
                    Autorola.eu Online Car auction sells cars for private
                    inviduals, companies and car dealers. A quick and safe way to
                    sell your car. Put the car on auction today and receive bids
                    from approved dealers. Receive bids from over 70,000 approved
                    dealers. You set the reserve price. No sale, no charge.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- /Footer -->

@code {

}
